html {
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

body {
    background-color: aliceblue;
    margin: 0;
    width: 100%;
}




#headbar {
    background-color: green;
    width: 100%;
    height: 60px;
}

#logo {
    float: left;
    width: 10%;
    height: 100%;
    background-color: pink;
    text-align: center;
}

#title {
    display: flex;
    float: right;
    width: 50%;
    height: 100%;
    background-color: yellow;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#title h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: blue;
}



#navbar {
    background-color: midnightblue;
    width: 100%;
    height: 50px;
}

#jumpto {
    float: left;
    width: 10%;
    height: 100%;
    text-align: center;
    color: white;
}




#main {
    background-color: aliceblue;
    width: 100%;
    box-sizing: border-box;
    padding: 40px;

}

#main p {
    text-align: justify;
    font-size: 16px;
}

#gallery img{
    width: 40px;
}

#gallery-view{
    overflow-x: auto;
    white-space: nowrap;
}

#gallery-view img{
    width: 300px;
    padding: 5px;
}

#itemdata-view{
    width: 100%;
    overflow-x: auto;
    padding: 4px;
}

#itemdata{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: lightcyan;
    border-collapse: collapse;
}

#itemdata th{
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    padding: 4px;
}

#itemdata td{
    text-align: center;
    padding: 10px;
    border: 0px;
}

#itemdata tr:nth-child(even){
    background-color: rgb(192, 229, 242);
}


#footer {
    background-color: lightgray;
    width: 100%;
    margin: 0;
}

#footer p {
    text-align: center;
    padding: 8px;
    font-size: 10px;
    margin: 0;
}